@import 'custom';
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

html {
    position: relative;
    min-height: 100%;
}
footer.footer{
    width: 100%;
    padding: 1.5rem;
    position:absolute;
    bottom: 0;
}
main{
    margin-bottom: 25rem;
}
p{
    font-family: $font-family-serif;
    font-size: 1.4rem;
}
@media (max-width:550px) {
    footer>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
a{
    font-size: 1.2rem;
}
// home.html :

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/FondHeroScene.png);
        background-position: center;
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.text-justify{
    text-align: justify;
}

// galerie.html :

.image-card{
    position: relative;
    &:hover{
        img{
            filter: brightness(0.2);
        }
        .titre-image{
            opacity: 1;
        }
    }
    .titre-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        opacity: 0;
        transition: ease-in-out 0.15s;
    }
    img{
        transition: ease-in-out 0.15s;
    }
}
